<section class="testimonials bg-gray">
  <div class="container wow fadeIn">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <div class="testimonials-carousel">
          <div class="item">
            <div class="row">
              <div class="col-lg-12">
                <p class="lead">"To say that we were pleased would be an understatement."</p>
                <hr class="colored">
                <p class="quote">We sold our home in a little more than 60 days and purchased a new one through Gary and Maureen. 
                To say that we were pleased would be an understatement. Both of them were just fantastic throughout both processes. 
                They were always there for us, explained any question we had, extremely thorough/organized and treated us with the utmost respect. 
                Both my wife and I commented to other people that they really helped us through some trying times. 
                Always friendly and never lost their cool, even in some stressful situations. I personally believe that they were the number 1 reason why we were able 
                to sell our home and purchase a new one in such a short period of time. Both my wife and I would highly recommend them to other people 
                (which we have done already) and would definitely use them again when the time comes to sell our house.</p>
                <div class="testimonial-info">
                  <div class="testimonial-author">
                    <span class="name">Steve Franken</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="row">
              <div class="col-lg-12">
                <p class="lead">"Whether buying or selling, the Glunz team covers every aspect of the endeavor most effectively and with the highest level of professionalism."</p>
                <hr class="colored">
                <p class="quote">My wife and I are experienced home buyers. Over the years we have bought and sold nine homes to live in and more 
                than thirty other pieces of real estate. With all those transactions we have never been better taken care of than by Gary and Maureen Glunz. 
                Whether buying or selling, the Glunz team covers every aspect of the endeavor most effectively and with the highest level of professionalism. 
                We have never felt pressured, yet we could always rely on their many years of experience to guide our decisions.
                We don’t know of any realtors who work harder for you than they do and we couldn’t be happier with the results they have accomplished for us. 
                Gary and Maureen truly make Fountain Hills a better place to live.</p>
                <div class="testimonial-info">
                  <div class="testimonial-author">
                    <span class="name">Tony & Sharon Leslie</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

