<body id="page-top">

  <nav class="navbar navbar-inverse navbar-fixed-top navbar-expanded">
    <div class="container">

      <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">
        &#9776;
      </button>
      <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">

        <div class="navbar-header">
          <a class="navbar-brand page-scroll" href="#page-top">
            Glunz Realty
            <% image_tag "logo", class: "img-fluid" %>
          </a>
        </div>

        <ul class="nav navbar-nav pull-xs-right">
          <li class="hidden">
            <a class="page-scroll" href="#page-top"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link page-scroll" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link page-scroll" href="#listings">Listings</a>
          </li>
          <li class="nav-item">
            <a class="nav-link page-scroll" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
  </nav>

  <header style="background-image: url(<%= image_url('fh-bg') %>)">
    <div class="intro-content">
      <!--<img src="assets/img/creative/profile.png" class="img-fluid center-block" alt="">-->
      <div class="brand-name">Glunz</div>
      <hr class="colored">
      <div class="brand-name-subtext">REAL ESTATE</div>
      <div class="m-t-2">
        <a class="btn btn-outline-light page-scroll hidden-sm-down" href="#listings">Browse Listings</a>
        <a class="btn btn-outline-light hidden-md-up" href="tel:+14802164170""#contact">Call Gary <i class="fa fa-phone"></i></a>
      </div>
    </div>
    <div class="scroll-down hidden-sm-down">
      <a class="btn page-scroll" href="#about"><i class="fa fa-angle-down fa-fw"></i></a>
    </div>
  </header>

  <%= render partial: 'testimonials' %>

  <section id="about">
    <div class="container wow fadeIn">
      <div class="row">
        <div class="col-md-6">
          <%= image_tag 'glunzrealtors', class: 'img-fluid' %>
        </div>
        <div class="col-md-6 text-md-center">
          <h1>Gary & Maureen Glunz</h1>
          <hr class="colored">
          <p>The beauty of the area brought Gary and Maureen to Fountain Hills from the Midwest in 1987. 
          With over 25 years experience in the luxury home and homesite market, Gary continues to be MCO 
          Realty’s top producer year after year. 
          <br><br>Gary and Maureen’s goal is to provide their clients with 
          knowledge of the Fountain Hills real estate market while treating them with integrity and respect.</p>
        </div>
      </div>
    </div>
  </section>

</body>
