<footer class="footer">
  <div class="container text-md-center">
    <div class="row">
      <div class="col-md-4 contact-details">
        <h3><i class="fa fa-phone"></i> Call</h3>
        <p><a href="tel:+14802164170">480.216.4170</a></p>
      </div>
      <div class="col-md-4 contact-details">
        <h3><i class="fa fa-map-marker"></i> Visit</h3>
        <p>FireRock Sales Center
        <br>15925 E. Shea Boulevard
        <br>Fountain Hills, Arizona 85268</p>
      </div>
      <div class="col-md-4 contact-details">
        <h3><i class="fa fa-envelope"></i> Email</h3>
        <p><a href="mailto:gglunz@aol.com">gglunz@aol.com</a>
        </p>
      </div>
    </div>
    <!--
    <div class="row social">
      <div class="col-lg-12">
        <a href="#"><i class="fa fa-facebook fa-fw fa-2x"></i></a>
        <a href="#"><i class="fa fa-twitter fa-fw fa-2x"></i></a>
        <a href="#"><i class="fa fa-linkedin fa-fw fa-2x"></i></a>
      </div>
    </div>
    -->
    <div class="row copyright">
      <div class="col-lg-12">
        <p class="small">&copy; 2016 Glunz Real Estate</p>
      </div>
    </div>
  </div>
</footer>


